.JsonInput {
  & input {
    border-width: 1px !important;
  }
  & table td {
    vertical-align: middle;
  }
  direction: "ltr";
  & table .addRow {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
  }
  & span.jsonError {
    display: inline-block;
    margin: auto;
    width: fit-content;
    padding: 5px;
    color: red;
  }
}
._rtl {
  direction: rtl !important;
}
